<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\frontend\public\css\styles.css">
    <title>Document</title>
</head>
<body>

    <nav class="nav-bar">
        <a href="index.html"><Button>Home</Button></a>
        <a href="servant_page.html"><Button>Servants</Button></a>
        <a href="ce_page.html"><Button>CE</Button></a>
        <a href="command_page.html"><Button>Command Codes</Button></a>
    </nav>
</body>
</html>