<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\frontend\public\css\styles.css">
    <title>fgo</title>
</head>
<body>

    <nav class="nav-bar">
        <a href="index.html"><div>Home</div></a>
        <a href="servant_page.html"><div>Servants</div></a>
        <a href="ce_page.html"><div>CE</div></a>
        <a href="command_page.html"><div>Command Codes</div></a>
    </nav>

    <main>
        <div class="container_div">
            <div class="tabs">
                <div class="info_tab" role="button" id="saber">Artoria</div>
                <div class="info_tab" role="button" id="archer">Emiya</div>
                <div class="info_tab" role="button" id="lancer">Cu</div>
                <div class="info_tab" role="button" id="rider">Medusa</div>
                <div class="info_tab" role="button" id="caster">Medea</div>
                <div class="info_tab" role="button" id="assassin">Sasaki Kojirou</div>
                <div class="info_tab" role="button" id="berserker">Hercules</div>
            </div>
            <div class="info_box">
                   <div id="servant-data-dispay">
                        <div class="servant-data" id="servant-data-name"></div>
                        <div class="servant-data" id="servant-data-class"></div>
                    </div>
                    <img id="servant-data-image" alt="Hello" src="https://preview.redd.it/yg1qmvydqhp71.png?width=512&format=png&auto=webp&s=b6babdbbe22082c9c90f8912c4fddb424e8e5b68">
            </div>
        </div>
    </main>
    

    <script src="\frontend\public\src\index.js"></script>
</body>
</html>